{{ dump() }}
<section class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="contentLogo">
				<a href="/"> <img class="img-fluid" src="{{ logopath }}" alt="{{ site_name }}"> </a>
				<p>Système Intégré de Gestion des Ressources Extractives</p>
			</div>
		</div>
		<div class="col-sm-12">
			{{ messages }}
			{{ page.content }}
			<!-- //outter-wp -->
			<div class="copyrights">
	 			<p>© 2018 SOGESTI. All rights reserved | Powered by <a href="/"> <span>SOGESTI</span> </a> </p>
			</div>
			
		</div>
	</div>	
</section>