<section id="{{ block_html_id }}" class="{{ classes }}clearfix"{{ attributes }}>

 {{ title_prefix }}
 {% if title %}
  <h2{{ title_attributes }}>{{ title }}</h2>
 {% endif %}
 {{ title_suffix }}

 {{ content }}

</section>